html body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eef;
  color: #333;
  height: 100%;
}

header, footer {
  background-color: #0f0f13;
  color: white;
  padding: 1rem;
  text-align: center;
  font-size: larger;
}

main {
  flex: 1;
  padding: 1rem;
}

img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

#weather {
  background-color: #fff;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}

.info-section {
  background-color: #fff;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}

h2 {
    background-color: #0f0f13;
    padding: 0.5rem;
    color: white;
    border-radius: 8px;
}

.hero-container {
  display: flex;
  flex-direction: column;
}

.hero-image img {
  width: 100%;
  height: auto;
  display: block;
}

.data-overlay,
.weather-overlay {
  margin: 1rem 0;
}

.data-overlay,
.weather-overlay {
  margin: 1rem 0;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
}

.smile{
  background-color: #0f0f13;
}

